body {
  font-family: Circular-book;
  background-color: black;
  overflow: hidden;
}
@font-face {
  font-family: Circular-bold;
  src: url("/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2");
}
@font-face {
  font-family: Circular-book;
  src: url("/fonts/CircularSpUIv3T-Book.3466e0ec.woff2");
}
/* -------------------------------------------------------SIDEBAR */

.nav-items {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#desktop-logo {
  width: 130px;
  height: 80px;
}

#mobile-logo {
  width: 30px;
  height: 30px;
}

.sidebar-links,
.artist-name,
.album-year-songs,
#desktop-logo,
.artist-name,
.song-duration {
  color: #b3b3b3;
}

hr {
  background-color: #b3b3b3;
  height: 0.1px;
  width: 90%;
}

#user-img {
  height: 25px;
  width: 25px;
}

/* -------------------------------------SIDEBAR ENDS HERE */

#main {
  background: rgb(52, 29, 10);
  background: linear-gradient(135deg, rgba(52, 29, 10, 1) 0%, rgba(0, 0, 0, 1) 36%);
}

#album-info {
  margin-top: 50px;
}

#album-cover {
  width: 300px;
  height: 300px;
}

#album-actions img {
  width: 25px;
  height: 25px;
}

.song-id-wrapper {
  text-align: end;
  width: 10px;
}

#album-wrapper {
  height: 80%;
  overflow: auto;
}

.song-container:hover,
#sidebar a:hover {
  background-color: rgba(71, 71, 71, 0.349);
  border-radius: 5px;
}
#sidebar a:hover {
  filter: brightness(200%);
}

.song-container:hover .song-id {
  content: url(assets/playbutton.svg);
  cursor: pointer;
  transform: scale(0.7);
  position: relative;
  right: 8px;
}

.now-playing {
  content: url(assets/playbutton.svg);
  transform: scale(0.7);
  position: relative;
  right: 8px;
  filter: invert(38%) sepia(24%) saturate(1397%) hue-rotate(82deg) brightness(95%) contrast(90%);
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #0c0b0b;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* --------------------------------PLAYER------------------------------------ */
#player {
  background-color: #181818;
  position: fixed;
  bottom: 0;
}
#player-info {
  width: 20%;
  white-space: nowrap;
}
#player-info img {
  width: 60px;
  height: 60px;
}

.player-buttons img {
  width: 20px;
  height: 20px;
  color: #b3b3b3;
  margin-left: 10px;
  margin-right: 10px;
}
#player-controls-mid {
  width: 40%;
  cursor: pointer;
}
#play-button,
#pause-button {
  background-color: black;
  border-radius: 50%;
  filter: invert(100%);
  height: 30px;
  width: 30px;
}

.player-buttons img:hover {
  filter: brightness(200%);
}
.active-button {
  filter: invert(39%) sepia(23%) saturate(1289%) hue-rotate(82deg) brightness(96%) contrast(97%);
}
#seek-bar-container {
  width: 100%;
}

#volume-controls img {
  width: 20px;
  height: 20px;
}

#current-time,
#total-time {
  text-align: center;
  width: 50px;
  color: #b3b3b3;
  font-size: 12px;
}

#volume,
#seek {
  height: 4px;
  width: 100px;
  /* background: #555; */
  border-radius: 20px;
  background-color: rgba(83, 83, 83, 1);
}

#volume {
  background: rgb(179, 179, 179);
  /* background: linear-gradient(90deg, rgba(179, 179, 179, 1) 50%, rgba(83, 83, 83, 1) 50%); */
}

#seek {
  width: 80%;
  position: relative;
  top: 7px;
}

#mute-button,
#unmute-button {
  cursor: pointer;
}

/* #volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: none;
  cursor: pointer;
} */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background: white;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 9px;
  outline: none !important;
  appearance: none;
  border: none;
  border-radius: 30px;
}

/* ---------------------PLAYER ENDS HERE------------------------------------ */
@media only screen and (max-width: 1024px) {
  #album-wrapper {
    height: 30%;
    overflow: auto;
  }
}
@media only screen and (max-width: 767px) {
  #player-song-name,
  #player-artist-name {
    font-size: 14px;
  }
  #album-cover {
    height: 200px;
    width: 200px;
  }
  #album-wrapper {
    height: 20%;
    overflow: auto;
  }
  #album-info {
    margin-top: 10px;
  }
  #album-info h3 {
    font-size: 18px;
  }
  #album-actions img {
    width: 20px;
    height: 20px;
  }
}
